# Instructor Do: Decision Trees

In [1]:
# Initial imports
import pandas as pd
from pathlib import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

## Loading and Preprocessing Loans Encoded Data

In [18]:
# Loading data
file_path = Path("Heart Disease - FOR ML.csv")
df_dt = pd.read_csv(file_path)

# Replace "Absence" with 0 and "Presence" with 1 in the "Heart Disease" column
df_dt['Heart Disease'] = df_dt['Heart Disease'].replace({'Absence': 0, 'Presence': 1})

# Display the first few rows to verify the changes

df_dt.head()

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease,Patient ID
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,1,31065
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,0,31606
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,1,32147
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,0,32688
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,0,33229

In [43]:
# Define features set
X = df_dt.copy()
X.drop("FBS over 120", axis=1, inplace=True)
X.head()

,Age,Sex,Chest pain type,BP,Cholesterol,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease,Patient ID
0,70,1,4,130,322,2,109,0,2.4,2,3,3,1,31065
1,67,0,3,115,564,2,160,0,1.6,2,0,7,0,31606
2,57,1,2,124,261,0,141,0,0.3,1,0,7,1,32147
3,64,1,4,128,263,0,105,1,0.2,2,1,7,0,32688
4,74,0,2,120,269,2,121,1,0.2,1,1,3,0,33229

In [44]:
# Define target vector
y = df_dt["FBS over 120"].values.reshape(-1, 1)
y[:5]

array([[0],
       [0],
       [0],
       [0],
       [0]], dtype=int64)

In [45]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [46]:
# Creating StandardScaler instance
scaler = StandardScaler()

In [47]:
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)

In [48]:
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Fitting the Decision Tree Model

In [49]:
# Creating the decision tree classifier instance
model = tree.DecisionTreeClassifier()

In [50]:
# Fitting the model
model = model.fit(X_train_scaled, y_train)

## Making Predictions Using the Tree Model

In [51]:
# Making predictions using the testing data
predictions = model.predict(X_test_scaled)

## Model Evaluation

In [52]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [53]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           41           14
Actual 1           10            3

Accuracy Score : 0.6470588235294118
Classification Report
              precision    recall  f1-score   support

           0       0.80      0.75      0.77        55
           1       0.18      0.23      0.20        13

    accuracy                           0.65        68
   macro avg       0.49      0.49      0.49        68
weighted avg       0.68      0.65      0.66        68