In [49]:
# Initial imports
import pandas as pd
from pathlib import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, text, inspect, func

In [50]:
# Loading data
file_path = Path("Project4_Group2/Heart Disease - FOR ML.csv")
df_heart_disease = pd.read_csv(file_path)
df_heart_disease.head()

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease,Patient ID
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence,31065
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence,31606
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence,32147
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence,32688
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence,33229

In [51]:
X = df_heart_disease.drop(columns = ['Heart Disease'])
y = df_heart_disease['Heart Disease']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [52]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [53]:
 # Creating the decision tree classifier instance
model = tree.DecisionTreeClassifier()

In [54]:
 # Fitting the model
model = model.fit(X_train_scaled, y_train)

In [55]:
# Making predictions using the testing data
predictions = model.predict(X_test_scaled)

In [56]:
 # Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [57]:
 # Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           27            8
Actual 1            9           24

Accuracy Score : 0.75
Classification Report
              precision    recall  f1-score   support

     Absence       0.75      0.77      0.76        35
    Presence       0.75      0.73      0.74        33

    accuracy                           0.75        68
   macro avg       0.75      0.75      0.75        68
weighted avg       0.75      0.75      0.75        68